body {
  background-color: #f5f6fa;
}
.app {
  display: flex;
  padding: 2rem;
}
.app__left {
  margin: 1rem;
  flex: 0.8;
}
.app__right {
  margin: 1rem;
  flex: 0.2;
  background-color: palegreen;
}
.app__header {
  color: #fc3c3c;
  font-size: 2rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app__stats {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
.app__dropdown {
  background-color: white;
}

@media (max-width: 990px) {
  .app {
    background-color: peru;
    flex-direction: column;
  }
  .app__stats {
    justify-content: stretch;
  }
  .app__stats {
    justify-content: space-around;
    flex-wrap: nowrap;
  }
}
@media (max-width: 450px) {
  .app__stats {
    flex-direction: column;
  }
}
